/*******************************

     Reset browser defaults

*******************************/

*,
*:after,
*:before{

  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;  
}

@font-face {

  font-family: AlegreyaSans-Regular;
  src: url(fonts/AlegreyaSans-Regular.ttf);
}

@font-face {

  font-family: AlegreyaSans-ExtraBold;
  src: url(fonts/AlegreyaSans-ExtraBold.ttf);
}

body{

  font-family: AlegreyaSans-Regular, Helvetica, sans-serif;
  font-size: 20px;
  color: #ffffff;
}

li{

	list-style-type: none;
	display: inline;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/*******************************

     Common classes

*******************************/

.gradient{

  width: 100%;
  background: #3A7BD5; /* For browsers that don't support gradients */
  background: -webkit-linear-gradient(to right,#3A7BD5,#0CBFF7);
  background: -moz-linear-gradient(to right,#3A7BD5,#0CBFF7);
  background: linear-gradient(to right,#3A7BD5,#0CBFF7);
}

.frame{

	width: 85%;
	margin: 0 auto;
}

.butt{ /* Button */

  width: 125px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16.5px;
  cursor: pointer;
}


/*******************************

     Header

*******************************/

header{

  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
	height: 100px;
	font-size: 24px;
}

header li{

  float: left;
  margin: 59px 50px 0 0;
}

header li a{

	padding: 4px 22px;
  transition: all 0.75s ease;
}

header li a:hover{

  background-color: #ffffff;
  color: #3A7BD5;
}

.active-header{ /* Active class for header navigation */

	background-color: #ffffff;
  color: #3A7BD5;
}

#noHash{

  cursor: pointer;
}

.login{ /* Log in button */

  float: right;
  margin-top: 57px;
  line-height: 100%;
  transition: color,background-color 0.75s ease;
}

.login:hover, .login:active{

  font-weight: 600;
}

.login:active{

  background-color: #ffffff;
  color: #3A7BD5;
}

.login-active{ /* Active class for log in button */

  background-color: #ffffff;
  color: #3A7BD5;
  font-weight: 600;
}
 
 /*******************************

     First section

*******************************/

 main{ 

  position: relative;
  top: 100px;
 }

.first{ /* First section of the page */ 

  position: relative;
  height: 750px;
}

.first-content{ /* Content inside first section */

  float:left;
  width:40%;
  margin-top: 60px;
}

.first-content h2{

  margin: 20px 0;
  line-height: 80px;
  font-family: AlegreyaSans-ExtraBold, Helvetica, sans-serif;
  font-size: 70px; 
}

.first-content p{

  font-size: 24px;
}

.first-content-p2{

  margin: 20px 0;
}

.first-content a{

  float: left;
  margin-right: 10px;
  text-align: center;
  line-height: 31px;
  transition: all 0.75s ease-in-out;
  }

.first-content a:first-child:hover{

  background-color: #ffffff;
  color: #3A7BD5;
}

.get{ /* Get the app button */

  background-color: #ffffff;
  color: #3A7BD5;
  font-weight: 600;
  transition: all 0.75s ease-in-out;
}

.phone{ /* First phone image */

  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 90;
  width: 832px;
  height: 734px;
  background: url(images/phone.png) no-repeat;  
}

.line{ /* oblique line-div */

  position: absolute;
  bottom: -60px;
  z-index: 91; 
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  -ms-transform: skewY(3deg); 
  -webkit-transform: skewY(3deg); 
  transform: skewY(3deg); 
}

/*******************************

     Second section

*******************************/

.second{

  position: relative;
  z-index: 92;
  height: 525px;
}

.second button{

  border-color: none;
  background-color: transparent;
  color: #808080;
  transition: all 0.75s ease-out;
}

.second button:hover{

  border-color: #3A7BD5;
  color: #3A7BD5; 
}

.active-blue{ /* Active class for second(and fifth) section buttons */

  border-color: #3A7BD5;
  color: #3A7BD5 !important;
}

.pics{

  height: 47px;
  margin: 50px 0 30px 0;
}

.pics a{

  float: left;
  width: 11.1111111%;
  height: 47px;
  background: url(images/htc.png) no-repeat 50% 0;
}

.pics a:last-child{

  float: right;
}

.second h3{

  color: #3A7BD5;
  font-size: 45px;
  font-weight: 600;
}

.second p{

  margin-bottom: 20px;
  color: #909090;
}

/*******************************

     Third section

*******************************/

.third{

  height: 575px;
}

.center{ /* Buttons div */

  padding-top: 50px;
  text-align: center;
}

.third button{

  border: 2px solid rgba(255,255,255,0);
  margin-right: 15px;
  transition: all 0.75s ease-out;
}

.third button:hover{

  border-color: rgba(255,255,255,1);
}

.active-white{ /* Active class for third section buttons */

  border-color: rgba(255,255,255,1) !important;
}

.third-content{ /* Content inside third section */

  width:74%;
}

.third h3{

  margin: 25px 0 15px 0;
  color: #ffffff;
  font-family: AlegreyaSans-ExtraBold, Helvetica, sans-serif;
  font-size: 45px;
}

.third p{

  margin-bottom: 18px;
}

.third a{

  display: block;
  margin-top: 30px;
  text-align: center;
  line-height: 31px;
}

/*******************************

     Fourth section

*******************************/

.fourth{

  position: relative;
  height: 225px;
  background-color: #f5f5f5;
}

.fourth h3{

  padding-top: 20px;
  margin-bottom: 25px;
  color: #3A7BD5;
  font-family: AlegreyaSans-ExtraBold, Helvetica, sans-serif;
  font-size: 45px;
}

#subscribe{ /* Subscribe input */

  width: 177.5px;
  height: 32px;
  padding: 0 25px;
  border: 2px solid #3A7BD5;
  border-radius: 30px;
  background-color: transparent;
  color: #3A7BD5;
  font-size: 18.5px;
}

.phone2{ /* Second phone picture */

  position: absolute;
  right: 0;
  bottom: 0px;
  width: 667px;
  height: 690px;
  background: url(images/phone2.png) no-repeat 0 -70px;
}

/*******************************

     Fifth section

*******************************/

.fifth{

  position: relative;
  height: 600px;
}

.fifth button{

  margin: 15px 15px 0 0;
  color: #909090;
  transition: all 0.75s ease-out;
}

.fifth button:hover{

  border-color: #3A7BD5;
  color: #3A7BD5;  
}

.fifth h3{

  margin: 75px 0 5px 0;
  color: #3A7BD5;
  font-size: 45px;
  font-weight: 600;
}

.fifth p{

  margin-bottom: 20px;
  color: #909090;
}

.fifth p:last-child{

  position: relative;
  z-index: 81;
}

.line2{

  position: absolute;
  bottom: -50px;
  z-index: 80;
  width: 100%;
  height: 95px;
  background-color: #ffffff;
  -ms-transform: skewY(3deg); 
  -webkit-transform: skewY(3deg); 
  transform: skewY(3deg); 
}

/*******************************

     Last section

*******************************/

.left{ /* Map div */

  float: left;
  width:50%;
  height: 890px;
}

.right{ /* Contant div */

  float: right;
  width: 50%;
  height: 890px;
  background: #3A7BD5; /* For browsers that don't support gradients */
  background: -webkit-linear-gradient(to right bottom,#3A7BD5,#0CBFF7);
  background: -moz-linear-gradient(to right bottom,#3A7BD5,#0CBFF7);
  background: linear-gradient(to right bottom,#3A7BD5,#0CBFF7);
}

.right-frame{

  width: 74.5%;
  padding-left: 65px;
}

.right h3{

  margin: 108px 0 15px 0;
  color: #ffffff;
  font-family: AlegreyaSans-ExtraBold, Helvetica, sans-serif;
  font-size: 45px;
}

.right a{ /* Send e-mail button */

  display: block;
  position: relative;
  width: 165px;
  height: 29px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  margin: 15px 0;
  text-align: center;
  line-height: 28px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.right a span{

  position: absolute;
  top: 0px;
  right: -65px;
  bottom: 0;
  width: 167px;
  height: 167px;
  margin: auto;
  background: url(images/arrow-right.png) no-repeat;
  transform: scale(0.27);  
  -webkit-filter: brightness(2000%);
  filter: brightness(2000%);
  transition: all 1s ease-out;
}

.right-p3{

  margin: 15px 0 10px 0;
}

.right input, .right textarea{

  display: block;
  width: 100%;
  padding-left: 18px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  background: #1D7CB6; /* For browsers that don't support gradients */
  background: -webkit-linear-gradient(to right bottom,#1D7CB6,#0E92C2);
  background: -moz-linear-gradient(to right bottom,#1D7CB6,#0E92C2);
  background: linear-gradient(to right bottom,#1D7CB6,#0E92C2);
  color: #ffffff;
}

.right input{

  height: 46px;
}

.right textarea{

  height: 250px;
  padding-top: 15px;   
  resize: none;
}

.right button{

  width: 175px;
  margin-top: 2px;
}

.right button:hover{

  font-weight: 600;
}

/* Changing placeholder color inside contact form */

.right input:-moz-placeholder, .right input::-moz-placeholder, .right textarea:-moz-placeholder, .right textarea::-moz-placeholder  { 

  color: #ffffff;
  opacity: 1;
}

.right input::-webkit-input-placeholder, .right textarea::-webkit-input-placeholder {

  color: #ffffff;
} 

/*******************************

     Log in Content

*******************************/

.backDiv{ /* Div behind form */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 910;
  visibility: hidden;
  opacity: 0;
  background-color: #000000;
  transition: all 1s ease-in; 
}

.formDiv{

  position: fixed;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  z-index: 920;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  background-color: #ffffff;  
  transition: all 1s ease-in;
}

.formDiv span{ /* X button */

  position: absolute;
  top: 5px;
  right: 7.5px;
  color:black;
  cursor: pointer;
}

#logInForma{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

#logInForma input, #logInForma button{

  display: block;
  padding-left: 5px;
  margin-bottom: 10px;
  background: #3A7BD5; /* For browsers that don't support gradients */
  background: -webkit-linear-gradient(to right,#3A7BD5,#0CBFF7);
  background: -moz-linear-gradient(to right,#3A7BD5,#0CBFF7);
  background: linear-gradient(to right,#3A7BD5,#0CBFF7);
  color: #ffffff;
}

#logInForma input{

  width: 300px;
  height: 30px;
  border: 1px solid transparent;
}

#logInForma button{

  border: none;
  margin: auto;
}

.visible{ /* Active class for back div */

  visibility: visible;
  opacity: 0.6;
}

.visible2{ /* Active class for form div */

  visibility: visible;
  opacity: 1;
}
